@font-face {
	font-family: 'gothic';
	src: url('fonts/gothic.eot');
	src: local('Century Gothic'), url('fonts/gothic.woff') format('woff'), url('fonts/gothic.ttf') format('truetype');
}

@font-face {
	font-family: 'chessFreeSerif';
	src: local('FreeSerif');
	src: url('fonts/ChessFreeSerif.ttf') format('truetype');
}
