.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100;
  margin: 0;
}

.game-info {
  width: 20%;
  margin: 1em;
  font-size: 1em;
  text-align: center;
}

/* portrait */
@media screen and (orientation:portrait) {
  .game-info {
    width: 100%;
  }
}

.status {
  display: block;
  height: 100%;
}
