.promotion-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.promotion-option {
  font-family: 'freeSerif';
  justify-self: center;
  font-size: 3em;
  display: inline-block;
}
