.promotion-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.promotion-option {
  font-family: 'chessFreeSerif';
  justify-self: center;
  font-size: 3em;
  display: inline-block;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
