body, html {
  font: 0.8em "Century Gothic", Futura, sans-serif;
  margin: 0;
}

div#root {
  width: 100%;
  padding-top: 5%;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100;
  margin: 2% 5% 0%;
}

.game-board-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows:    repeat(8, 1fr);
  border: 1px solid #c4c4c4;
}

.game-board-outer {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  grid-area: s;
}

.game-board-outermost {
  width: 100%;
  display: grid;
  grid-template-areas:
              ". . . . . . . . . ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". . . . . . . . . .";
  grid-template-columns: auto repeat(8, 1fr) auto;
  grid-template-rows:    auto repeat(8, 1fr) auto;
}

@media screen and (orientation:landscape) {
  .game-board-outermost {
    width: 50%;
  }

  div#root {
    padding-top: 0%;
  }
}

@media (pointer:coarse), (hover:none), (hover:on-demand) {
 .game {
   margin: 2% 15% 0%;
 }
}

.status {
  display: block;
  height: 100%;
}

.square {
  width: 100%;
  box-sizing: border-box;
}

svg {
  cursor: default;
}

.description {
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
  margin: .3em;
  align-self: center;
  justify-self: center;
}

.selected {
  background: #e0df63;
}

.possible_move {
  background: #80a0ea;
}

.black {
  background: #a2a2a2;
}

.white {
  background: white;
}

.square:focus {
  outline: none;
}

.game-info {
  margin: 2em;
  font-size: 1.4em;
}
