body, html {
  font: 0.8em "Century Gothic", Futura, sans-serif;
  margin: 0;
}

div#root {
  width: 100%;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100;
  margin: 0;
}

.game-board-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows:    repeat(8, 1fr);
  border: 1px solid #c4c4c4;
}

.game-board-outer {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  grid-area: s;
}

.game-board-outermost {
  width: 100%;
  display: grid;
  grid-template-areas:
              ". . . . . . . . . ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". s s s s s s s s ."
              ". . . . . . . . . .";
  grid-template-columns: 0.4fr repeat(8, 1fr) 0.4fr;
  grid-template-rows:    0.5fr repeat(8, 1fr) 0.5fr;
}

.game-info {
  width: 35%;
  margin: 2em;
  font-size: 1.4em;
  text-align: center;
}

/* desktop */
@media screen and (min-width:801px) {
  .game {
   margin: 2% 15% 0%;
  }

  .game-board-outermost {
    max-width: 700px;
  }
}

/* landscape */
@media screen and (orientation:landscape) {
  .game-board-outermost {
    width: 90vh;
  }
}

/* portrait */
@media screen and (orientation:portrait) {
  .game-info {
    width: 100%;
  }
}

.status {
  display: block;
  height: 100%;
}

.square {
  width: 100%;
  box-sizing: border-box;
}

svg {
  cursor: default;
}

.description {
  align-self: center;
  justify-self: center;
}

.description-vertical {
  height: 100%;
}

.description-horizontal {
  width: 100%;
}

.selected {
  background: #e0df63;
}

.possible_move {
  background: #80a0ea;
}

.black {
  background: #a2a2a2;
}

.white {
  background: white;
}
